<?xml version="2.0"?>
<launch>
    <arg name="node_edge_map_file" default="$(find node_edge_map_editor)/sample/map/rwrc21_kakunin_map.yaml"/>
    <!-- <arg name="output_file" default="$(find node_edge_map_editor)/maps/sample_map.yaml"/> -->
    <arg name="pcd_file" default="/home/amsl/pcd/map_tc.pcd"/>
    <arg name="rviz_config" default="$(find node_edge_map_editor)/rviz/map_editor.rviz"/>
    <arg name="interval" default="10"/>

    <node name="rviz" type="rviz" pkg="rviz" args="-d $(arg rviz_config)"/>
    <node name="pcd_pub" type="pcd_to_pointcloud" pkg="pcl_ros" args="$(arg pcd_file) $(arg interval)">
        <param name="frame_id" value="map"/>
    </node>

    <node pkg="amsl_navigation_managers" type="node_edge_map_manager.py" name="node_edge_map_manager" ns="navigation_managers">
        <param name="MAP_PATH" value="$(arg node_edge_map_file)"/>
        <param name="HZ" value="1"/>
    </node>

    <node pkg="node_edge_map_editor" type="map_editor.py" name="map_editor" output="screen">
        <param name="MAP_PATH" value="$(arg node_edge_map_file)"/>
    </node>

</launch>
